@{
    Layout = ""; //Define o layout como vazio, assim, essa página não tera o footer e a navbar
} 

<head>
    <!-- Linkando o CSS -->
    <link rel="stylesheet" href="~/css/anuncio.css">
    <!-- Nome da página -->
    <title>WeAR</title>
</head>

<body>
    <!-- Espaçamento entre um elemento e outro -->
    <br>
    <br>

    <!-- Área Introdutória -->
    <div class="apresentacao">
        <div class="texto">
            <h1>Virtual Try On</h1> <!-- Título -->
            <p>Novo recurso para auxiliar comércios em suas vendas online. </p> <!-- Parágrafo -->
            <br>
            <p>Permite que seus clientes provem suas peças antes da compra.</p> <!-- Parágrafo -->
        </div>
        <div class="imgAnuncio">
            <img src="~/img/imgAnuncio.png" alt=""> <!-- Imagem do anúncio -->
        </div>
    </div>

    <hr>

    <!-- Container com as informações sobre o projeto  -->
    <div class="containerInforms">
        <!-- Questões analisadas no contexto do anúncio -->
        <div class="questoes">
            <div class="questao1">
                <h2>WeAr Web: O que somos?</h2> <!-- Questão 1 -->
                <br>
                <!-- Resposta -->
                <p>
                    Nosso site, o "WeAr Web", é uma plataforma especializada em fornecer serviços de Provador Virtual de
                    produtos (como óculos e anéis) para empresas que desejam oferecer essa experiência interativa aos
                    seus clientes. Com um design moderno e intuitivo, buscamos proporcionar uma experiência de compra
                    online
                    personalizada e realista.
                </p>
                <p>
                    Nossos serviços oferecem uma seção dedicada aos recursos do Provador Virtual. Nessa seção, são
                    destacadas as
                    tecnologias de ponta utilizadas, como reconhecimento facial avançado e renderização 3D, que garantem
                    uma experiência imersiva e precisa ao usuário.
                </p>
            </div>

            <br><br>

            <div class="questao2">
                <h2>A Ligação entre o WeAr e Van Gogh</h2> <!-- Questão 2 -->
                <br>
                <!-- Resposta -->
                <p>
                    Vincent van Gogh foi um renomado pintor holandês do século XIX, conhecido por seu estilo único e
                    expressivo. Embora seja amplamente aclamado atualmente, durante sua vida, sua arte foi amplamente
                    rejeitada pela sociedade e crítica da época. No entanto, a história mostrou que Van Gogh era um
                    gênio à frente de seu tempo.
                </p>
                <p>
                    Sua visão artística revolucionária, nos inspirou a inovar dentro do universo tecnológico! Assim como
                    Van Gogh, o WeAr deseja ir além do que é proposto atualmente, pois entendemos a necessidade de
                    buscar
                    novos métodos capazes de revitalizar completamente a forma que compras online são realizadas dentro
                    do mercado comum.
                </p>
            </div>

            <br><br>

            <div class="questao3">
                <h2>Requisite nossos Serviços</h2> <!-- Questão 3 -->
                <br>
                <!-- Resposta -->
                <p>
                    Lembre-se, se sua empresa obter interesse pelos serviços oferecidos pelo WeAr, atráves da página de
                    <a href="/Home/Contato">Contato</a>, é possível requisitar os mesmos. Sua solicitação será
                    delicadamente analisada por nossos colaboradores, a fim do fechamento de um contrato entre as requisições.
                </p>
            </div>

            <br><br>

            <div class="questaoFinal">
                <!-- Parágrafo de conclusão -->
                <p>
                    No geral, o WeAr é um site que visa atender às necessidades das empresas que desejam
                    proporcionar uma experiência de compra inovadora e conveniente aos seus clientes. Com o Provador
                    Virtual de óculos e anéis, as empresas podem se destacar no mercado e oferecer uma solução moderna
                    que melhora a interação e a confiança do cliente durante o processo de compra online.
                </p>
            </div>
        </div>
    </div>

    <!-- Botões de direcionamento -->
    <div class="direcoes">
        <button>
            <a href="https://drive.google.com/file/d/161YprwVLUOztINxyoj_jFEvM_aFQmM7H/view?usp=sharing">
                <!-- Link de redirecionamento -->
                <h2>Baixar o app</h2> <!-- Título -->
                <p>Baixar app de e-commerce demostrativo com Virtual Try On implementado.</p> <!-- Parágrafo -->
            </a>
        </button>
        <button>
            <a href="/Home/Index">
                <!-- Link da página de redirecionamento -->
                <h2>Ir para a demo</h2> <!-- Título -->
                <p>Abrir versão web de e-commerce demonstrativo com Virtual Try On implementado.</p> <!-- Parágrafo -->
            </a>
        </button>
    </div>
</body>