@model List<Produto>
<head>
    <link rel="stylesheet" href="./css/catalogo.css">
    <title>Catálogo</title>
</head>

<div class="produtos">

    @foreach (Produto p in Model)
    {
        Imagem img = new Imagem();
        string formatoImg = "data:image/jpeg;base64," + img.PegarImagem(p.pegarID(p.nome));

        <fieldset>

            <a href="#produto">

                <div class="imagem">
                    <img src=@formatoImg alt="">
                </div>
                <div class="descriaoProd">
                    <h3>@p.nome</h3>
                    <p>@p.preco</p>
                </div>
            </a>
        </fieldset>
    }

</div>

