<head>
    <link rel="stylesheet" href="~/css/contato.css">
    <title>Contato</title>
</head>

<title>Contato</title>

<body>

    <br>
    <br>
    <div class="textoIntro">
        <h1>
            Formulário de contato
        </h1>
        <p>
            Ao preencher este formulário, sua empresa (indústria comercial, pequeno negócio, etc.) garante o interesse
            nos serviços oferecidos pelo nosso Virtual Try-On (provador virtual).
        </p>

        <p>Com estes dados, realizaremos uma análise da sua necessidade, afim de retornar nosso trabalho remunerado.</p>
    </div>
    <br>
    <br>

    <div class="background">
        <div class="content">
            <form action="https://formsubmit.co/ee24cd18939a319418d2af8ed358ae71" method="POST" enctype="multipart/form-data" id="formContato">
                <input type="hidden" name="_next" value="https://weartechhost.azurewebsites.net/Home/Index">
                @*<input type="hidden" name="_autoresponse" value="Prezados da empresa que nos contatou, Gostaríamos de agradecer pelo contato e pela confiança em nossa empresa WeAR. Informamos que recebemos as suas informações e estamos trabalhando para analisá-las cuidadosamente. Em breve, entraremos em contato para fornecer uma resposta completa à sua solicitação. Agradecemos novamente pela sua consideração e estamos ansiosos para trabalhar juntos em um futuro próximo.Atenciosamente,Equipe WeAR">*@
                <input type="text" name="_honey" style="display:none">
                <input type="hidden" name="_subject" id="_subject" value="Novo Cliente - ">
                <input type="hidden" name="_next" value="https://weartechhost.azurewebsites.net/Home/pagSucessoForm">




                <fieldset>

                    <div class="row">
                        <label for="nomeEmpresa" class="form-label">Nome da Empresa</label>
                        <input type="text" class="form-control" id="nomeEmpresa" name="Nome da Empresa"
                               placeholder="Digite o nome de sua empresa" aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="nomeResponsavel" class="form-label">Nome do responsável</label>
                        <input type="text" class="form-control" id="nomeResponsavel" name="Nome do(a) Responsavel"
                               placeholder="Digite o seu nome" aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" name="E-Mail"
                               placeholder="Digite o seu e-mail" aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="telefone" name="Telefone" onkeypress="mascaraTelefone(this)"
                               placeholder="Digite o seu telefone" aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="cnpj" class="form-label">CNPJ</label>
                        <input type="text" class="form-control" id="cnpj" name="CNPJ" onkeypress="mascaraCNPJ(this)" placeholder="Digite o seu CPF"
                               aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="ramo" class="form-label">Ramo de atuação</label>
                        <input type="text" class="form-control" id="ramo" name="Ramo de Atuacao"
                               placeholder="Digite o ramo de atuação de sua empresa" aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="archives" class="form-label">Arquivos/Anexos</label>
                        <input type="file" id="archives" name="Arquivos" class="form-control" accept="image/*,.pdf,.docx">
                    </div>
                    <div class="row">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea name="Descricao" id="descricao" cols="30" rows="10"
                                  placeholder="Digite uma breve descrição da sua empresa e do uso pretendido para o Try-On"></textarea>
                    </div>

                    <div class="buttons">
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Limpar">
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
    <br>
    <br>

</body>
<script>
    //Script para mudar o título do E-mail de acordo com a empresa
    const nomeInput = document.getElementById('nomeEmpresa');
    const subjectInput = document.getElementById('_subject');

    //Cria um eventListener para o nomeInput, quando houver um input, define o subject como: seu valor padrão + o nome do cliente
    nomeInput.addEventListener('input', (event) => {
        const nomeValue = event.target.value;
        const newSubjectValue = 'Novo Cliente - ' + nomeValue;
        subjectInput.value = newSubjectValue;
    });

    // Função para aplicar máscara de CNPJ
    function mascaraCNPJ(i) {
        var v = i.value; // Pega o valor do campo de entrada

        // Verifica se o último caractere inserido é um número, caso contrário, remove o caractere
        if (isNaN(v[v.length - 1])) {
            i.value = v.substring(0, v.length - 1);
            return;
        }

        // Define o tamanho máximo do campo de entrada como 18 caracteres
        i.setAttribute("maxlength", "18");

        // Insere os caracteres de formatação no CNPJ nos locais corretos
        if (v.length == 2 || v.length == 6) i.value += ".";
        if (v.length == 10) i.value += "/";
        if (v.length == 15) i.value += "-";
    }

    // Função para aplicar máscara de telefone
    function mascaraTelefone(i) {
        var v = i.value; // Pega o valor do campo de entrada

        // Verifica se o último caractere inserido é um número, caso contrário, remove o caractere
        if (isNaN(v[v.length - 1])) {
            i.value = v.substring(0, v.length - 1);
            return;
        }

        // Insere o caractere de abertura de parêntese no início do valor
        if (v.length == 1) {
            i.value = '(' + i.value;
        }

        // Define o tamanho máximo do campo de entrada como 15 caracteres
        i.setAttribute("maxlength", "15");

        // Insere os caracteres de formatação no telefone nos locais corretos
        if (v.length == 3) {
            i.value = i.value + ") ";
        } else if (v.length == 10) {
            i.value = i.value + "-";
        }
    }

    // Função para validar um CNPJ formatado
    function validarCNPJ(cnpj) {
        var regex = /^\d{2}\.\d{3}\.\d{3}\/\d{4}\-\d{2}$/; // Expressão regular para validar o formato do CNPJ
        //O CNPJ deve ter o formato de dois dígitos seguidos de ponto, seguidos de três dígitos e outro ponto, 
        //seguidos de três dígitos e uma barra, seguidos de quatro dígitos, um hífen e dois dígitos.
        return regex.test(cnpj); // Retorna true se o CNPJ passar na validação, caso contrário, retorna false
    }

    // Função para validar um número de telefone formatado
    function validarTelefone(tel) {
        var regex = /^\([1-9]{2}\) (?:[2-8]|9[1-9])[0-9]{3}\-[0-9]{4}$/; // Expressão regular para validar o formato do telefone
        //O número de telefone deve ter o formato de dois dígitos entre parênteses, seguidos de espaço, um dígito de 2 a 8 ou 9 
        //seguido de um dígito de 1 a 9, mais três dígitos e um hífen, e finalmente mais quatro dígitos.
        return regex.test(tel); // Retorna true se o telefone passar na validação, caso contrário, retorna false
    }

    //Quando o formulário for enviado
    document.getElementById('formContato').addEventListener('submit', function (event) {
        var cnpjInput = document.getElementById('cnpj');
        var telInput = document.getElementById('telefone');
        var cnpj = cnpjInput.value;
        var tel = telInput.value;

        //Caso, na hora de validar o telefone e o CNPJ, ele retornar falso, ele para o envio do formulário, e avisa que a formatação está errada
        if (!validarCNPJ(cnpj)) {
            event.preventDefault();
            alert('O CNPJ informado é inválido!');
            cnpjInput.value = 0;
        }

        if (!validarTelefone(tel)) {
            event.preventDefault();
            alert('O Telefone informado é inválido!');
            telInput.value = 0;
        }
    });

</script>

