    <link rel="stylesheet" href="~/css/contato.css">
    <title>Contato</title>

<body>

    <br>
    <div class="textoIntro">
        <h1>
            Formulário de contato
        </h1>
        <p>Ao preencher este formulário, sua empresa (indústria comercial, pequeno negócio, etc.) garante o interesse
            nos serviços oferecidos pelo nosso Virtual Try-On (provador virtual). </p>

        <p>Com estes dados, realizaremos uma análise da sua necessidade, afim de retornar nosso trabalho remonerado.</p>
    </div>
    <br><br><br><br>

    <div class="background">
        <div class="content">
            <form action="https://api.staticforms.xyz/submit">
                <input type="hidden" name="accessKey" value="#">
                <input type="hidden" name="redirectTo" value="http://127.0.0.1:5500/index.html">
                <fieldset>

                    <div class="row">
                        <label for="nomeEmpresa" class="form-label">Nome da Empresa</label>
                        <input type="text" class="form-control" id="nomeEmpresa" name="$nomeEmpresa"
                            placeholder="Digite o nome de sua empresa" aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="nomeResponsavel" class="form-label">Nome do responsável</label>
                        <input type="text" class="form-control" id="nomeResponsavel" name="$nomeResponsavel"
                            placeholder="Digite o seu nome" aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" name="$email"
                            placeholder="Digite o seu e-mail" aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="telefone" name="$telefone"
                            placeholder="Digite o seu telefone" aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="cnpj" class="form-label">CNPJ</label>
                        <input type="text" class="form-control" id="cnpj" name="$cnpj" placeholder="Digite o seu CPF"
                            aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="ramo" class="form-label">Ramo de atuação</label>
                        <input type="text" class="form-control" id="ramo" name="$ramo"
                            placeholder="Digite o ramo de atuação de sua empresa" aria-describedby="emailHelp" required>
                    </div>
                    <div class="row">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea name="descricao" id="descricao" cols="30" rows="10"
                            placeholder="Digite uma breve descrição da sua empresa e do uso pretendido para o Try-On"></textarea>
                    </div>

                    <div class="buttons">
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Limpar">
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
    <br><br>
</body>
