@{
    ViewData["Title"] = "Enviar Imagens";
}
    @using (Html.BeginForm("EnviarImagem", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="number" name="id" class="id" id="id" />
        <input type="file" name="arquivos" class="arquivos" id="arquivos" accept="image/png, image/jpeg" />
        <button>Cadastrar</button>
    }
    <p>@ViewBag.Alert</p>