<head>
    <title>Erro!</title>
    <!-- Linkando o CSS -->
    <link rel="stylesheet" href="./css/erro.css">
</head>

<!--Erro ao enviar o formulário de contato-->
<div class="erro">
    <!--Icon de alerta-->
    <div class="imgAlerta">
        <img src="img/alerta amarelo claro .png" alt="">
    </div>
    <!--Texto pedindo para tentar novamente-->
    <div class="txtAlerta">
        <h2>Ops! Parece que houve um erro com o envio do seu formulário, por favor volte para a página de <a href="contato.html">contato </a>e tente novamente.</h2>
    </div>
</div>
