<head>
    <link rel="stylesheet" href="./css/erro.css">
    <title>Erro!</title>
</head>

<body>
    <!--Erro ao finalizar compra-->
    <div class="erro">
        <!--Icon de alerta-->
        <div class="imgAlerta">
            <img src="img/alerta amarelo claro .png" alt="">
        </div>
        <!--Texto pedindo para tentar novamente-->
        <div class="txtAlerta">
            <h2>Ops! Parece que houve um erro com a finalização de sua compra, volte para o seu <a href="carrinho.html">carrinho </a>e tente novamente.</h2>
        </div>
    </div>
</body>