@model List<String>
<head>
    <link rel="stylesheet" href="~/css/index.css">


    <title>Principal</title>
</head>
<!-- Início da área destinada "Nossos Produtos" -->
<h1>Conheça nossos produtos!</h1>
<div class="nossosProds">
    <!-- Categoria dos óculos -->
    <div class="oculos">
        <!-- A tag 'a' é um redirecionamento para a página de catálogo -->
        <a href="/Home/Produto/4">
            <img src="~/img/Oculos cravos brancos e vermelhos.jpg" alt="" /> <!-- Imagem -->
            <div class="textoOculos">
                <h1>Óculos</h1> <!-- Título -->
                <!-- Parágrafo -->
                <p>
                    Diversas opções de óculos de grau e de sol, possuindo Try On
                    diponível, tanto na web quanto no app.
                </p>
            </div>
        </a>
    </div>

    <!-- Categoria dos anéis -->
    <div class="aneis">
        <!-- A tag 'a' é um redirecionamento para a página de catálogo -->
        <a href="/Home/Produto/14">
            <img src="~/img/anel The Pink Peach Tree.png" alt="" /> <!-- Imagem -->
            <div class="textoAneis">
                <h1>Anéis</h1> <!-- Título -->
                <!-- Parágrafo -->
                <p>
                    Anéis para todos os gostos e de todos os tamanhos, com Try On
                    disponivel apenas na versão do app.
                </p>
            </div>
        </a>
    </div>
</div>
<!-- Fim "Nossos Produtos" -->
<!-- Início da área destinada "Mais Vendidos" -->
<h1>Produtos Recomendados</h1> <!-- Título -->
<div class="osMaisVend">
    @if (ViewBag.ids.Length != 0) //Isto sempre retorna true, é usado apenas para iniciar a função Razor
    {
        int i = 0;
        //Para cada img, ele adiciona um item no carrosel
        //Usa-se um operador ternário, se for um anel retorna um anel, se não, um oculos, aliado ao ID do item, para buscar no método
        foreach (String img in Model)
        {
            <div class="item">
                <a href=@Url.Action("Produto","Home",values: new{id=@ViewBag.ids[i]})>
                    <!--Adiciona o redirecionamento ao produto correto associado a imagem inserida-->
                    <img src=@img alt="">
                </a>
            </div>
            i++;
        }
    }
</div>
<!-- Fim "Mais Vendidos" -->
