<head>
    <!-- Linkando o CSS -->
    <link rel="stylesheet" href="./css/pagSucesso.css">
</head>

<body>
    <!-- Compra realizada com sucesso -->
    <div class="containerSucesso">
        <div class="icone"> <!-- Ícone -->
            <ion-icon name="checkmark-circle-outline" id="icone"></ion-icon>
        </div>
        <br>
        <!-- Conteúdo enviado assim que a compra é realizada sem problemas -->
        <div class="txtInformativo">
            <p>Sucesso! Sua compra foi realizada sem problemas e está sendo encaminhada para o endereço informado.</p>
            <p>A equipe WeAr Technology agradece a preferência e confiança.</p>
        </div>
    </div>
</body>