<head>
    <!-- Linkando o CSS -->
    <link rel="stylesheet" href="~/css/pagSucesso.css">
</head>

<body>
    <!-- Formulário enviado com sucesso -->
    <div class="containerSucesso">
        <div class="icone"> <!-- Ícone -->
            <ion-icon name="checkmark-circle-outline" id="icone"></ion-icon>
        </div>
        <br>
        <!-- Conteúdo enviado assim que o formulário é recebido sem problemas -->
        <div class="txtInformativo">
            <p>Sucesso! Seu formulário foi encaminhado para nossa equipe sem problemas. Parabéns!</p>
            <p>Em alguns dias enviaremos nossa resposta via e-mail.</p>
        </div>
    </div>
</body>