/* Import da fonte utilizada no site */
@font-face {
  font-family: "WeAR extra negrito";
  src: url(../fonts/postnobillscolombo-extrabold.ttf);
}

@font-face {
  font-family: "WeAR negrito";
  src: url(../fonts/postnobillscolombo-bold.ttf);
}

@font-face {
  font-family: "WeAR semi negrito";
  src: url(../fonts/postnobillscolombo-semibold.ttf);
}

@font-face {
  font-family: "WeAR regular";
  src: url(../fonts/postnobillscolombo-regular.ttf);
}

@font-face {
  font-family: "WeAR médio";
  src: url(../fonts/postnobillscolombo-medium.ttf);
}

@font-face {
  font-family: "WeAR light";
  src: url(../fonts/postnobillscolombo-light.ttf);
}

/* Configuração geral dos elementos */
* {
  margin: 0; /* Margem */
  padding: 0; /* Distância entre elemento e borda */
  text-align: center; /* Alinhamento do texto */
}

/* Carrinho */
.carrinho {
  display: flex; /* Layout */
  width: 100%; /* Comprimento */
}

/* Produtos */
.produtos {
  width: 75%;
}

h1 {
  font-family: "WeAR negrito"; /* Fonte */
  color: #144d83; /* Cor da fonte */
  font-size: 250%; /* Cor da fonte */
  text-align: center; /* Alinhamento do texto */
  margin: 2%; 
  text-decoration: underline; /* Decoração do texto */
}

/* Botão */
.carrinho button {
  border: none; /* Deixando sem borda */
}

/* Produtos do carrinho */
.prodCarrinho {
  display: flex;
  text-align: center;
  margin-bottom: 5%;
  width: 93%;
}

.produtos {
  width: 60%;
}

.prod {
  width: 90%;
  text-align: center;
  margin: 0% 5%;
}

/* Imagem do produto */
.imgProd {
  width: 95%; /* Comprimento */
}

.prodCarrinho img {
  width: 100%;
  border-width: 3vh; /* Grossura da borda */
  border-image: url(../img/molduras/moldura10.png) 60 stretch; /* Adicionando uma borda as imagens dos produtos */
  border-style: double; /* Estilo da borda */
}

.prodCarrinho img {
  width: 100%;
  border-width: 3vh;
  border-image: url(../img/molduras/moldura10.png) 60 stretch;
  border-style: double;
}

/* Textos */
.textProd {
  width: 95%;
  margin: 7% 2% 5% 1%;
  text-align: center;
  margin-left: 7%;
}

.textProd h2 {
  font-family: "WeAR negrito";
  color: #144d83;
  font-size: 190%;
  text-align: center;
  margin: 1%;
}

.textProd h3 {
  font-family: "WeAR semi negrito";
  color: #8ca1c5;
  font-size: 190%;
  text-align: center;
  margin: 1%;
}

/* Botão */
.textProd button {
  font-family: "WeAR semi negrito";
  font-size: 170%;
  color: #ffe6bb;
  background-color: #e1ba77; /* Cor de fundo */
  padding: 0.5% 9%;
}

.textProd button:hover {
  opacity: 70%;
  transition: all 0.2s ease 0s;
}

/* Botão de quantidade */
.quant button {
  padding: 0% 2%;
}

/* Hover é aquele usado quando passamos o cursor do mouse por cima de algum elemento na página html */
.quant button:hover {
  opacity: 70%;
}

/* Valor total da compra */
#total {
  height: 10%; /* Altura */
  border: none;
  font-family: "WeAR semi negrito";
  font-size: 150%;
  color: #144d83;
  margin: 5% 0%;
}

/* Para permitir e configurar a mudança de valores */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Input para recebimento de números */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Valores */
.valorFinalizacao {
  width: 40%;
}

.valor {
  display: flex;
  margin-left: 15%;
}

.valor h1 {
  text-decoration: none;
  font-family: "WeAR negrito";
  color: #144d83;
  font-size: 250%;
  text-align: center;
  margin: 1%;
}

#valor {
  color: #8ca1c5;
}
/* Fim de valores */

hr {
  background-color: #144d83;
  width: 90%;
  border: none;
  height: 1px;
  margin-left: 5%;
  margin-right: 5%;
}

/* Finalização do pedido */
#finalizar {
  font-family: "WeAR semi negrito";
  font-size: 190%;
  color: #ffe6bb;
  background-color: #e1ba77;
  padding: 0.5% 5%;
  text-align: center;
  width: 75%;
}

#finalizar:hover {
  opacity: 70%;
  transition: all 0.2s ease 0s;
}

#tamanho {
    font-family: "WeAR semi negrito";
}

/* Definindo a responsividade do site de acordo com o tamanho da janela */
@media (max-width: 999px) {
  * {
    align-items: center;
  }
  .produtos {
    width: 100%;
  }
  .carrinho {
    flex-direction: column;
    margin-left: 3%;
  }
  .valorFinalizacao {
    width: 80%;
    margin-top: 7%;
    margin-left: 0;
    margin-right: 9%;
  }
}
