/* Import das fontes utilizadas no site */
@font-face {
    font-family: "WeAR extra negrito";
    src: url(../fonts/postnobillscolombo-extrabold.ttf);
}

@font-face {
    font-family: "WeAR negrito";
    src: url(../fonts/postnobillscolombo-bold.ttf);
}

@font-face {
    font-family: "WeAR semi negrito";
    src: url(../fonts/postnobillscolombo-semibold.ttf);
}

@font-face {
    font-family: "WeAR regular";
    src: url(../fonts/postnobillscolombo-regular.ttf);
}

@font-face {
    font-family: "WeAR médio";
    src: url(../fonts/postnobillscolombo-medium.ttf);
}

@font-face {
    font-family: "WeAR light";
    src: url(../fonts/postnobillscolombo-light.ttf);
}

/* Configuração geral */
* {
    margin: 0%; /* Margem */
    padding: 0%; /* Distância entre elemento e borda */
}

/* Área dos produtos */
.produtos {
    display: flex; /* Layout */
    flex-direction: row; /* Diração do display:flex */
    flex-wrap: wrap; /* Define se os itens flexíveis são forçados a ficarem na mesma linha ou se podem ser quebradas em varias linhas */
    justify-content: space-around; /* Formatação */
    margin: 3%;
}

/* Imagens dos produtos */
.produtos img {
    width: 98%; /* Comprimento */
    border-width: 3vh; /* Grossura da borda */
    border-image: url(../img/molduras/moldura7.png) 50 stretch; /* Adicionando as imagens dos produtos um padrão de borda */
    border-style: double; /* Estilo da borda */
}

/* Hover é aquele usado quando passamos o cursor do mouse por cima de algum elemento na página html */
.produtos img:hover {
    cursor: pointer; /* Cursor do mouse */
    width: 100%;
    transition: all 0.2s ease 0s; /* Transição */
}

/* Agrupamento dos itens */
.produtos fieldset {
    width: 22%;
    border: none;
    margin: 2%;
    text-align: center;
}

fieldset h3 {
    font-family: "WeAR semi negrito"; /* Fonte */
    color: #144d83; /* Cor da fonte */
    font-size: x-large; /* Tamanho da fonte */
}

fieldset p {
    font-family: "WeAR regular";
    color: #8CA1C5;
    font-size: larger;
}

fieldset a {
    text-decoration: none;
}

fieldset a:hover {
    text-decoration: underline #8ca1c5;
    transform: scale(1.4);
    letter-spacing: 0.5px;
    transition: all 0.2s ease 0s;
    font-weight: bolder;
}
