/* Import da fonte utilizada na página */
@font-face {
    font-family: "WeAR extra negrito";
    src: url(../fonts/postnobillscolombo-extrabold.ttf);
}

@font-face {
    font-family: "WeAR negrito";
    src: url(../fonts/postnobillscolombo-bold.ttf);
}

@font-face {
    font-family: "WeAR semi negrito";
    src: url(../fonts/postnobillscolombo-semibold.ttf);
}

@font-face {
    font-family: "WeAR regular";
    src: url(../fonts/postnobillscolombo-regular.ttf);
}

@font-face {
    font-family: "WeAR médio";
    src: url(../fonts/postnobillscolombo-medium.ttf);
}

@font-face {
    font-family: "WeAR light";
    src: url(../fonts/postnobillscolombo-light.ttf);
}

/* Configurando a página como um todo */
*{
    margin: 0;
    padding: 0;
}

/* Pesquisa */
.pesquisa{
    display: flex; /* Layout */
    flex-direction: column; /* Direção do display:flex */
    align-items: center; /* Alinhamento */
    justify-content: center; /* Formatação */
    margin: 3%; /* Margem */
}

.pesquisa button{
    background: none;
    border: none;
}

.pesquisa button:hover{
   opacity: 70%;
}

#divBusca{
    text-align: center;
    border: none;
    width:70%;
    display: flex;
}
  
#txtBusca{
    padding-left:1%;
    font-family: "WeAR semi negrito"; /* Fonte */
    font-style: italic; /* Estilo da fonte */
    font-size: 140%; /* Tamanho da fonte */
    border: none; /* Borda */
    height: 18%; /* Altura */
    width: 95%; /* Comprimento */
}

/* O focus é um recurso visual para mostrar qual elemento está sendo utilizado, ou o mais importante no momento */
input:focus{
    outline: 0;
}

input:focus img{
    transition: all 0.2s ease 0s;
}

#divBusca img{
    padding-right: 1%;
    padding-bottom: 1%;
}

.pesquisa hr{
    border-color: #144d83;
    border-top: none;
    width: 70%;
}

/* Seções */
section{
    width: 100%;
    align-items: center;
    justify-content: center;
}
section details{
    width: 60%;
    margin-left: 20%;
    padding: 1.5%;
    
}
section details hr{
    border-color: #144d83;
    border-top: none;

}
section details summary{
    font-size: 175%;
    font-family: "WeAR negrito";
    color: #144d83;
    cursor: pointer;
}
section details p{
    font-size: 125%;
    font-family: "WeAR semi negrito";
    color: #8CA1C5;
    margin-top: 1%;
}
.contatoDuvidas {
    font-family: "WeAR negrito";
    color: #144d83;
}
    .contatoDuvidas a {
        color: #144d83;
        text-decoration: underline;
    }
    .contatoDuvidas a:hover {
        color: #c88c20;
        text-decoration: underline;
    }