@font-face {
    font-family: "WeAR";
    src: url(../fonts/postnobillscolombo-bold.ttf);
}

*{
 margin: 0%;
 padding: 0%;
 box-sizing: border-box;   

}

header{
    width: auto;
    height: 3%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 3%;
    background: #144d8313;
}

.nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    font-family: "WeAR"; 
    font-size: xx-large;   
}

.nav li a{
    color: #144d83;
    text-decoration: none;
}

a, button{
    background: #144d8300;
    border: none;
}

.nav li a:hover{
    color: #c88c20;
    transition: all 0.2s ease 0s;
    text-decoration: underline;
}

/* #navButton{
} */
