/* Import da fonte utilizada */
@font-face {
  font-family: "WeAR";
  src: url(../fonts/postnobillscolombo-regular.ttf);
}

/* Configuração geral da página */
* {
  font-family: "WeAR", sans-serif; /* Fonte */
  margin: 0; /* Margem */
  padding: 0; /* Distanciamento entre a borda e os itens */
  /* border: red solid 1px; //Borda */
}

/* Área destinada as informações do produto */
.containerInformProduto {
  display: flex; /* Layout */
  flex-direction: row; /* Direção do layout */
}

.containerInformProduto .detalhesProduto {
  margin-left: 30%;
}

.moldura#moldura {
  margin-top: 3%;
  margin-left: 3%;
  z-index: 1000; /* Ordem da pilha em que o elemento esta */
  width: 200%; /* Comprimento */
  border-image: url(../img/MolduraProdutos.png) 200 stretch; /* Adicionando uma borda a imagem representada pela classe */
  border-width: 10vh;
  border-style: double;
}

/* Título */
.containerInformProduto .detalhesProduto #titulo {
  padding-left: 2rem;
  padding-top: 5rem;
  font-size: 3rem;
  color: #144d83;
  display: flex;
  width: 89%;
  transition: 0.5s;
}

/* Hover é aquele usado quando passamos o cursor do mouse por cima de algum elemento na página html */
.containerInformProduto .detalhesProduto #titulo:hover {
  transition: 0.5s;
  color: #8ca1c5;
  cursor: default;
}

/* Descrição do produto */
.containerInformProduto .detalhesProduto #descricao {
  width: 90%;
  text-align: justify;
  padding-left: 2rem;
  padding-top: 2%;
  font-size: 25px;
  color: #8ca1c5;
}

.containerInformProduto .detalhesProduto #descricao:hover {
  cursor: default;
}

/* Tamanho do produto */
.containerInformProduto .detalhesProduto #tamanho {
  padding-left: 2rem;
  padding-top: 3%;
  font-size: 25px;
  color: #144d83;
}

.containerInformProduto .detalhesProduto #tamanho:hover {
  cursor: default;
}

/* Estoque */
.containerInformProduto .detalhesProduto #estoque {
  width: 89%;
  padding-left: 2rem;
  padding-top: 3%;
  font-size: 25px;
  color: #144d83;
}

.containerInformProduto .detalhesProduto #estoque:hover {
  cursor: default;
}

/* Quantidade */
.containerInformProduto .detalhesProduto #qtde {
  width: 89%;
  padding-left: 2rem;
  padding-top: 1%;
  font-size: 25px;
  color: #144d83;
}

.containerInformProduto .detalhesProduto #qtde:hover {
  cursor: default;
}

/* Preço */
.preco {
  position: relative; /* Posição */
  display: flex;
  justify-content: center; /* Formatação do conteúdo */
  align-items: center; /* Alinhamento dos itens */
  flex-wrap: wrap; 
}

.containerInformProduto .detalhesProduto #preco {
  padding-top: 2%;
  font-size: 2.5rem;
  color: #144d83;
  transition: 0.5s;
}

.containerInformProduto .detalhesProduto #preco:hover {
  transition: 0.5s;
  color: #8ca1c5;
  cursor: default;
}
/* Fim da área destinada as informações */

/* Área de seleção de tamanhos */
.tamanhoAnel {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.select-box {
  padding-left: 2rem;
  font-size: 1.2rem;
  display: flex;
  width: 17rem;
  flex-direction: column;
}

.select-box .containerOpcoes {
  text-align: center;
  background: #e1ba77;
  color: white;
  max-height: 0;
  width: 100%;
  opacity: 0; /* Opacidade */
  transition: all 0.4s; /* Transição */
  overflow: hidden; /* Hidden não é visível */

  order: 1; /* A opções são aplicadas na ordem 1 */
}

.selecionado {
  background: #e1ba77;
  margin-bottom: 8px;
  color: white;
  position: relative;

  order: 0; /* A opção selecionada é aplicada na ordem 0 (ordem inicial) */
}

.selecionado::after {
  content: "";
  background: url(../img/arrow-down.svg); /* Seta para direcionar o usuário a selecionar um tamanho */
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 7px;

  transition: all 0.4s;
}

.select-box .containerOpcoes.active {
  max-height: 30vh;
  opacity: 1;
  overflow-y: scroll;
}

/* Altereando a seta quando ela for clicada */
.select-box .containerOpcoes.active + .selecionado::after {
  transform: rotateX(180deg);
  top: -8px;
}

/* Configurando a scrollbar (barra de rolagem) */
.select-box .containerOpcoes::-webkit-scrollbar {
  width: 8px;
  background: #e1ba77;
  border-radius: 0 8px 8px 0;
}

.select-box .containerOpcoes::-webkit-scrollbar-thumb {
  background: #c88c20;
  border-radius: 0 8px 8px 0;
}

.select-box .opcao,
.selecionado {
  padding: 12px 24px;
  cursor: pointer;
  transition: 0.8s;
}

.select-box .opcao:hover {
  background: #c88c20;
}

.select-box label {
  cursor: pointer;
}

.select-box .opcao .radio {
  display: none;
}
/* Fim da área de seleção de tamanhos */

/* Botões */
.buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.buttonCarrinho .btn { /* Botão para adicionar ao carrinho */
  font-size: 1.3rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  background: #e1ba77;
  color: white;
  transition: 0.7s;
  width: 18rem;
  gap: 1rem;
}

.buttonCarrinho {
  padding-left: 2rem;
  padding-top: 2%;
  width: fit-content;
}

.buttonCarrinho .btn:hover {
  transition: 0.7s;
  background: #c88c20;
}

.buttonTryOn .btn { /* Botão para acessar o TryOn */
  font-size: 1.3rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  background: #e1ba77;
  color: white;
  transition: 0.7s;
  width: 18rem;
  gap: 1rem;
}

.buttonTryOn {
  padding-left: 2rem;
  padding-top: 2%;
  width: fit-content;
}

.buttonTryOn .btn:hover {
  transition: 0.7s;
  background: #c88c20;
}
/* Fim de botões */

/* Produtos Similares */
.txtPdtSim p {
  padding-top: 1rem;
  margin-left: 2%;
  font-size: 2rem;
  color: #c88c20;
  width: 95%;
  transition: 0.5s;
}

.txtPdtSim p:hover {
  color: #e1ba77;
  transition: 0.5s;
  cursor: default;
}

.produtosSimilares .item:hover {
  cursor: pointer; /* Cursor do mouse */ 
}

/* Controlando as imagens dos produtos similares, quando o mouse passar por cima delas */
.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: #144d8386;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 1s;
}

/* As modificações só são vísiveis quando o mouse paira sobre as imagens */
.content:hover {
  opacity: 1;
}
/* Fim da área de produtos similares */

/* Botão de quantidade */
.quant{
    align-items: center;
}

#plus #minus {
    font-family: "WeAR semi negrito";
    background: #c88c20;
    color: white;
}

    /* Hover é aquele usado quando passamos o cursor do mouse por cima de algum elemento na página html */
    .quant button:hover {
        opacity: 80%;
    }

/* Quantidade total */
#total {
    height: 10%; /* Altura */
    border: none;
    font-family: "WeAR semi negrito";
    font-size: 150%;
    color: #144d83;
    margin: 5% 0%;
}

/* Para permitir e configurar a mudança de valores */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Input para recebimento de números */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Media | Responsividade da aba em 1100px*/
@media (max-width: 1100px) {
  .containerInformProduto {
    display: flex;
    flex-direction: column;
  }
  .containerInformProduto .imagemProduto {
    text-align: center;
  }
  .containerInformProduto .imagemProduto .moldura#moldura {
    position: center;
    width: 60%;
    min-width: 50%;
    border-image: url(../img/MolduraProdutos.png) 220 stretch;
    border-width: 8vh;
    border-style: double;
  }
  .containerInformProduto .detalhesProduto {
    margin-left: 0;
  }
}

/* Media | Responsividade da aba em 1196px*/
@media (max-width: 1196px) {
  #titulo {
    margin-top: -5rem;
  }

  #descricao {
    margin-right: 1rem;
    max-width: fit-content;
  }

  .buttons {
    margin-right: 10%;
  }
  .txtPdtSim {
    margin-left: 2rem;
    margin-top: 3rem;
  }
}

/* Responsividade da aba em 900px */
@media (max-width: 900px) {
  #descricao {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
