@font-face {
    font-family: "WeAR extra negrito";
    src: url(../fonts/postnobillscolombo-extrabold.ttf);
}

@font-face {
    font-family: "WeAR negrito";
    src: url(../fonts/postnobillscolombo-bold.ttf);
}

@font-face {
    font-family: "WeAR semi negrito";
    src: url(../fonts/postnobillscolombo-semibold.ttf);
}

@font-face {
    font-family: "WeAR regular";
    src: url(../fonts/postnobillscolombo-regular.ttf);
}

@font-face {
    font-family: "WeAR médio";
    src: url(../fonts/postnobillscolombo-medium.ttf);
}

@font-face {
    font-family: "WeAR light";
    src: url(../fonts/postnobillscolombo-light.ttf);
}

* {
    margin: 0%;
    padding: 0%;
}

.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3%;
}

.produtos img {
    width: 98%;
    border-width: 2vh;
    border-image: url(../img/molduras/moldura7.png) 40 stretch;
    border-style: double;
}

.produtos img:hover {
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease 0s;
}

.produtos fieldset {
    width: 22%;
    border: none;
    margin: 2%;
    text-align: center;
}

fieldset h3 {
    font-family: "WeAR semi negrito";
    color: #144d83;
    font-size: x-large;
}

fieldset p {
    font-family: "WeAR regular";
    color: #8CA1C5;
    font-size: larger;
}

fieldset a {
    text-decoration: none;
}

fieldset a:hover {
    text-decoration: underline #8ca1c5;
    transform: scale(1.4);
    letter-spacing: 0.5px;
    transition: all 0.2s ease 0s;
    font-weight: bolder;

}