@font-face {
    font-family: "WeAR extra negrito";
    src: url(../fonts/postnobillscolombo-extrabold.ttf);
}

@font-face {
    font-family: "WeAR negrito";
    src: url(../fonts/postnobillscolombo-bold.ttf);
}

@font-face {
    font-family: "WeAR semi negrito";
    src: url(../fonts/postnobillscolombo-semibold.ttf);
}

@font-face {
    font-family: "WeAR regular";
    src: url(../fonts/postnobillscolombo-regular.ttf);
}

@font-face {
    font-family: "WeAR médio";
    src: url(../fonts/postnobillscolombo-medium.ttf);
}

@font-face {
    font-family: "WeAR light";
    src: url(../fonts/postnobillscolombo-light.ttf);
} 

*{
    margin: 0;
    padding: 0;
}



h1{
    font-family: "Wear semi negrito";
    color: #144d83;
    text-align: center;  
}



p{
    font-family: "Wear regular";
    font-size: medium;
    color: #8CA1C5;
    justify-content: space-around;
    text-align: center;
}

fieldset{
    border-width: 50px;
    border-style: solid;
    border-image: url(../img/backgroundcontato.jpg) 30 stretch;
    height: 30%;
    width: 70%;
    background-color: #ffffff;
    padding: 1%;
    border-color: #8CA1C5;
    border-style: double;
    box-shadow: #8CA1C5;
    justify-content: start;
    margin: 0px auto;
}

.buttons {
    text-align: center;
}

input[type="submit"],
input[type="reset"] {
    padding: 5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    padding: 5px 10px;
    background-color: #8ca1c56c;
    border: #144d83;
    border-radius: 1px;
    color: #144D83;
    transition: 0.3s all ease-in-out;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    transform: scale(1.4);
}

input {
    padding: 2px;
    outline: none;
}

input[id="nomeEmpresa"],
input[id="nomeResponsavel"],
input[id="email"],
input[id="telefone"],
input[id="cnpj"],
input[id="ramo"],
input[id="descricao"]{
    width: 100%;
    margin-bottom: 2%;
    color: #144D83;
}

input[type="text"],
input[type="email"] {
    border: none;
    border-bottom: 2px solid #8CA1C5;
    transition: 0.3s all ease-in-out;
font-family: "WeAR light";
letter-spacing: 1px;

}
input[type="text"]:focus,
input[type="email"]:focus {
    color: #144D83;
    font-weight: 600;
    letter-spacing: 2px;
    border-color: #144D83;
}

textarea {
    padding: 10px;
    outline: none;
    width: 100%;
    resize: none;
font-family: "WeAR regular";
letter-spacing: 1px;
font-size: 110%;
border-color: #8CA1C5;

}

.form-label {
    color: #144d83;
    font-family: "WeAR médio";
    font-size: 145%;
}
