<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="~/img/icon.png">
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/footer.css">
</head>

<body>
    <!-- inicio navbar -->
    <header>
        <div class="logo">
            <a href="~/index.html"><img src="~/img/icon3.png" alt="" style="height: 5%;"></a>
        </div>
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="catalogo.html">Óculos de grau</a></li>
                    <li><a href="catalogo.html">Óculos de sol</a></li>
                    <li><a href="catalogo.html">Anéis</a></li>
                </ul>
            </nav>
        </div>
        <div class="buttons">
            <button><a href="#"><img src="~/img/compras4.png" alt="" id="navButton"></a></button>
            <button><a href="~/contato.html"><img src="~/img/telefone.png" alt="" id="navButton"></a></button>
            <button><a href="#"><img src="~/img/pesquisar3.png" alt="" id="navButton"></a></button>
        </div>
    </header>
    <!-- fim navbar -->
    @RenderBody()
    <!-- Footer -->
    <div class="footer">
        <footer>
            <!-- Divisão das ondas apresentadas no footer -->
            <div class="waves">
                <div class="wave" id="wave1"></div>
                <div class="wave" id="wave2"></div>
                <div class="wave" id="wave3"></div>
            </div>

            <!-- Adicionando os ícones das redes sociais - no caso, gitHub e Instagram -->
            <ul class="social_icon">
                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-github"></ion-icon></a></li>
            </ul>

            <!-- Redirecionamentos -->
            <ul class="menu">
                <li><a href="~/index.html">Home</a></li>
                <li><a href="~/catalogo.html">Contato</a></li>
                <li><a href="~/catalogo.html">Catálogo</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>

            <!-- Marca d'água -->
            <ul class="marca_dagua">
                <li>WeAr Technology | Trabalho de Conclusão de Curso | ₢ All Rights Reserved</li>
            </ul>
        </footer>
    </div>

    <!-- Instalação do material necessário para usar os ícones do ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Fim do Footer -->
</body>

</html>