<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="~/img/icon.png">
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/footer.css">
</head>

<body>
    <!-- inicio navbar -->
    <header>
        <nav>
            <a href="/Home/Index" class="logo"><img src="img/icon3.png" alt=""></a>
            <!-- menu responsivo -->
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a>@Html.ActionLink("Óculos de grau", "catalogo", "Home", routeValues: new { categoria = "Oculos Grau" })</a></li>
                <li><a>@Html.ActionLink("Óculos de sol", "catalogo", "Home", routeValues: new { categoria = "Oculos Sol" })</a></li>
                <li><a>@Html.ActionLink("Anéis", "catalogo", "Home", routeValues: new { categoria = "Anel" })</a></li>
                <li><a href="/Home/Carrinho"><img src="/img/compras.png" alt="Carrinho"></a></li>
                <li><a href="/Home/Contato"><img src="/img/telefone.png" alt="Contato"></a></li>
                <li><a href=""><img src="/img/pesquisar.png" alt="Pesquisar"></a></li>
            </ul>
        </nav>
    </header>
    <!-- fim navbar -->
    @RenderBody()
    <!-- Footer -->
    <div class="footer">
        <footer>
            <!-- Divisão das ondas apresentadas no footer -->
            <div class="waves">
                <div class="wave" id="wave1"></div>
                <div class="wave" id="wave2"></div>
                <div class="wave" id="wave3"></div>
            </div>

            <!-- Adicionando os ícones das redes sociais - no caso, gitHub e Instagram -->
            <ul class="social_icon">
                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-github"></ion-icon></a></li>
            </ul>

            <!-- Redirecionamentos -->
            <ul class="menu">
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Home/contato">Contato</a></li>
                <li><a href="/Home/catalogo">Catálogo</a></li>
                <li><a href="/Home/Faq">FAQ</a></li>
            </ul>

            <!-- Marca d'água -->
            <ul class="marca_dagua">
                <li>WeAr Technology | Trabalho de Conclusão de Curso | ₢ All Rights Reserved</li>
            </ul>
        </footer>
    </div>

    <!-- Instalação do material necessário para usar os ícones do ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/js/navbar.js"></script>
    <!-- Fim do Footer -->
</body>

</html>
